:root {
    font-family: 'Cardo', cursive;

    --color-a: rgba(255, 255, 255, 0.87);
    --color-b: #181818;
    --color-c: #272727;
    --color-z: #646cff;
    --color-w: #535bf2;
    --color-y: #945600;

    color-scheme: light dark;
    color: var(--color-a);
    background-color: var(--color-b);

    --plate-text-color: var(--color-a);
    --plate-background: var(--color-c);
    --text-size: 13px;
    --scale: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
}

/* interface */
.dashboard {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--color-c);
    border-radius: 8px;
}

.color-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inline-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    margin: 0.4rem;
}

#page-counter {
    display: none;
}

/* plates */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin:1rem;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 2rem;
    display: none;
    margin: 0 1rem;
}

#active-page {
    display: flex;
}

.compiled-pages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    margin: 1rem;
    align-items: center;
}

.compiled {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 4rem;
}

.plate {
    width: calc(216px * var(--scale));
    height: calc(270px * var(--scale));
    font-size: calc(var(--text-size) * var(--scale));
    letter-spacing: 0.01em;
    line-height: 1.4;

    color: var(--plate-text-color);
    background: var(--plate-background);
    background-image: var(--plate-background);

    .plate-block {
        font-size: inherit;
        padding: 10% 10% 7.5% 10%;

        width: 100%;
        height: 100%;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content {
            font-size: inherit;
            text-align: left;
        }

        .reference {
            font-size: inherit;
            text-align: right;

            .author {
                font-size: 1.2em;
                line-height: 1;
            }

            .title {
                font-size: 0.9em;
                font-style: italic;
            }
        }
    }
}

/* generic */
.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.subheading {
    line-height: 1.2;
}

.smallcaps {
    font-variant: small-caps;
}

a {
    font-weight: 500;
    color: var(--color-z);
    text-decoration: inherit;
}
a:hover {
    color: var(--color-w);
}

body {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

button {
    margin: 0.2rem;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-w);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    background-color: var(--color-z);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input:invalid {
    border: 2px solid red;
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--color-b);
        background-color: var(--color-a);
    }
    a:hover {
        color: var(--color-z);
    }
    button {
        background-color: var(--color-a);
    }
}
