:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    /* --plate-background-gradient: linear-gradient(0deg, var(--color-d), var(--color-d)); */
    --plate-background-color: red;
    --plate-text-color: blue;
    --scale: 1.5;
}

#result-message {
    display: none;
}

.dashboard {
    line-height: 1.5;
    margin: 2rem;
}

.palette-plate-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.plate {
    width: calc(216px * var(--scale));
    height: calc(270px * var(--scale));
    font-size: calc(12.5px * var(--scale));
    line-height: 1.4;
    font-family: 'Cardo', serif;

    /* background-image: var(--plate-background); */
    background: var(--plate-background-color);
    color: var(--plate-text-color);

    .plate-block {
        font-size: inherit;
        padding: 10% 10% 7.5% 10%;

        width: 100%;
        height: 100%;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content {
            font-size: inherit;
            text-align: left;
        }

        .reference {
            font-size: inherit;
            text-align: right;

            .author {
                font-size: 1.2em;
                line-height: 1;
            }

            .title {
                font-size: 0.9em;
                font-style: italic;
            }
        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 3rem;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.subheading {
    line-height: 1.2;
}

.smallcaps {
    font-variant: small-caps;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
